vyos_management_ip = "192.168.1.101"
vyos_api_key       = "jhab"

enable_tailscale   = true
tailscale_auth_key = "tskey-auth-xxxx"

enable_bgp         = true
vyos_asn           = 64512
metallb_asn        = 64513
